html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (min-width: 500px) {
  .toggle {
    height: 100px;
    width: 200px;
    border-radius: 50px;
    margin: auto;
    background-image: linear-gradient(aqua, skyblue);
    position: fixed;
    cursor: pointer;
    bottom: 2.35%;
    left: 70%;
  }
  @media (min-width: 900px) {
    .toggle {
      left: 78%;
    }
  }
  @media (min-width: 1920px) {
    .toggle {
      left: 88%;
    }
  }

  .toggle.night {
    background-image: linear-gradient(midnightblue, rebeccapurple);
  }

  .notch {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    top: 5px;
    left: 5px;
    box-shadow: 0 0 5px yellow;
    z-index: 1;
    transition: all 0.3s ease;
  }

  .notch > .crater {
    background: burlywood;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) inset;
  }
  .night .crater {
    opacity: 0.4;
  }

  .crater:first-child {
    left: 5px;
    top: 15px;
    height: 15px;
    width: 40px;
    transform: rotate(-45deg);
  }

  .crater:last-child {
    right: 10px;
    top: 15px;
    height: 15px;
    width: 25px;
    transform: rotate(45deg);
  }

  .night > .notch {
    background: whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
    transform: translate(100px, 0);
  }

  .shape {
    position: absolute;
    background: whitesmoke;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .shape.sm {
    height: 5px;
    width: 50px;
    top: 50%;
    left: 60%;
  }

  .shape.md {
    height: 10px;
    width: 75px;
    top: 25%;
    left: 25%;
    z-index: 2;
  }

  .shape.lg {
    height: 15px;
    width: 100px;
    bottom: 20px;
    left: 25%;
  }

  .night .shape {
    background: lightgray;
    box-shadow: 0 0 10px 2px violet;
  }

  .night .shape.sm {
    height: 5px;
    width: 5px;
    transform: translate(-40px, 0);
  }

  .night .shape.sm:first-of-type {
    transform: translate(-80px, -10px);
  }

  .night .shape.md {
    height: 10px;
    width: 10px;
    transform: translate(10px, 0);
  }

  .night .shape.lg {
    height: 15px;
    width: 15px;
    transform: translate(-10px, 0);
  }
}

@media (max-width: 500px) {
  .toggle {
    height: 80px;
    width: 160px;
    border-radius: 40px;
    margin: auto;
    background-image: linear-gradient(aqua, skyblue);
    position: fixed;
    cursor: pointer;
    bottom: 3.5%;
    left: 51.2%;
  }

  .toggle.night {
    background-image: linear-gradient(midnightblue, rebeccapurple);
  }

  .notch {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    top: 4px;
    left: 4px;
    box-shadow: 0 0 4px yellow;
    z-index: 1;
    transition: all 0.3s ease;
  }

  .notch > .crater {
    background: burlywood;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4) inset;
  }
  .night .crater {
    opacity: 0.4;
  }

  .crater:first-child {
    left: 4px;
    top: 12px;
    height: 12px;
    width: 32px;
    transform: rotate(-45deg);
  }

  .crater:last-child {
    right: 8px;
    top: 12px;
    height: 12px;
    width: 20px;
    transform: rotate(45deg);
  }

  .night > .notch {
    background: whitesmoke;
    box-shadow: 0 0 4px whitesmoke;
    transform: translate(80px, 0);
  }

  .shape {
    position: absolute;
    background: whitesmoke;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .shape.sm {
    height: 4px;
    width: 40px;
    top: 50%;
    left: 60%;
  }

  .shape.md {
    height: 8px;
    width: 60px;
    top: 25%;
    left: 25%;
    z-index: 2;
  }

  .shape.lg {
    height: 12px;
    width: 80px;
    bottom: 20px;
    left: 25%;
  }

  .night .shape {
    background: lightgray;
    box-shadow: 0 0 8px 2px violet;
  }

  .night .shape.sm {
    height: 4px;
    width: 4px;
    transform: translate(-40px, 0);
  }

  .night .shape.sm:first-of-type {
    transform: translate(-80px, -10px);
  }

  .night .shape.md {
    height: 10px;
    width: 10px;
    transform: translate(10px, 0);
  }

  .night .shape.lg {
    height: 15px;
    width: 15px;
    transform: translate(-10px, 0);
  }
}
